@font-face {
    font-family: 'NaLuiza';
    src: url('fontes/Shandera-Regular.woff');
}

@font-face {
    font-family: 'close';
    src: url(fontes/Close.otf);
}



body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "NaLuiza";
}

p{
    font-size: 20px;
}

h4{
    font-size: 17px;
}

h2{
    color: #E0E000;
    font-size: 30px;
}

.membros h1{
    color: #E0E000;
    text-shadow:  
      -1px 1px 0 #103778, 
      -2px 2px 0 #103778, 
      -3px 3px 0 #103778, 
      -4px 4px 0 #103778;
    font-size: 2.3rem;
    text-align: center;
    font-family: "close";
}

.musicos{

    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 2rem;
}

.musicos img{
    width: 150px;
    border-radius: 50%;
    margin-right: 1rem;
}
.musicosInversas img{
    width: 150px;
    border-radius: 50%;
    margin-left: 0.6rem;
}


#info{
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    
}

.musicosInversas{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 2rem;
}

#icon{
    width: 1.5rem;
}

.imgNome{
    display: flex;
    align-items: center;
    justify-content: center;
}

#notaMusical{
    width: 1.5rem;
    position: relative;

    
}
